@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(226, 236, 231);
}

h1, h2, p, a {
    font-family: "Lato", sans-serif;
    font-style: normal;
}

p, a {
    font-weight: 400;  
    font-size: 1em;
}

h1, h2 {
    font-weight: 600; 
}

h2 {
    padding: 5px 0px;
    color: #191970;
}

p {
    padding: 5px 0px;
	text-align: justify;
	line-height: 1.6em;
}

hr { 
    width: 20%; 
    height: 4px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 2px;
}

header {
    height: 75px;
    background-color: rgb(26, 26, 116);
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header > h2 {
    color: white;
}

span.logo {
    color: yellow;
}

header > button {
    display: none;
    width: 50px;
    height: 50px;
    background: #CEF09D;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: .5s;
}

header > button:hover {
    background-color: #d2f8d5;
}

nav {
    position: absolute;
    top: 78px;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
}

nav > ul {
    list-style-type: none;
    text-align: center;
}

nav > ul > li > a {
    display: block;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #F8F8FF;
    background-color: #9FC131;
    transition-duration: .4s;
}

nav > ul > li > a:hover {
    background-color: white;
    color: rgb(12, 12, 12);
}

.mostrar {
    left: 0%;
}

div.template {
    height: 250px;
    background: linear-gradient(to bottom, teal, rgb(2, 126, 126));
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

div.template > h1 {
    color: white;
    flex: 0 0 200px;
}

div.template > img {
    border-radius: 10px;
}

main {
    margin: 0px 5px;
}

section {
    min-width: 300px;
	max-width: 1000px;
	margin: auto;
    margin-bottom: 28px;
	padding: 20px;
    background-color: white;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.259);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

article {
    padding: 10px 0px;
}

picture img {
    display: block;
    margin: 12px auto;
    border-radius: 5px;
}

footer {
    background-color: rgb(26, 26, 116);
    padding: 12px;
}
  
footer > p {
    color: lightyellow;
    text-align: center;
}
