@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(226, 236, 231);
}

h1, h2, p, a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3B8C66;
}

header > h2 {
    color: white;
}

header > button {
    display: none;
    width: 50px;
    height: 50px;
    background: #CEF09D;
    border: none;
    cursor: pointer;
    transition-duration: .5s;
    border-radius: 8px;
}

header > button:hover {
    background-color: #d2f8d5;
}

nav {
    position: absolute;
    top: 70px;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
}

nav > ul {
    list-style-type: none;
    text-align: center;
}

nav > ul > li > a {
    display: block;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    background-color: #9FC131;
    color: white;
    transition-duration: .4s;
    border-radius: 5px;
}

nav > ul > li > a:hover {
    background-color: #88a52a;

}

.mostrar {
    left: 0%;
}

div.template {
    padding: 30px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: #184C78;
}

div.template > h1 {
    color: white;
}

div.template > img {
    border-radius: 10px;
}

main {
    margin: 0px 5px;
}

section {
    max-width: 80vw;
    min-width: 300px;
    margin: 10px auto;
    margin-bottom: 28px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.259);
	border-radius: 5px;
}

section > h2 {
    padding: 5px 0px;
    color: #191970;
    font-weight: 500;
}

section > hr {
    width: 80px; 
    height: 4px;
    background-color: #84B026;
    border: none;
    border-radius: 2px;
}

section > p {
    padding: 4px 0px;
	text-align: justify;
    font-size: 1em;
	line-height: 1.8em;
}

picture img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

footer {
    padding: 14px;
    background-color: #3B8C66;
}
  
footer > p {
    color: white;
    text-align: center;
}