@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(226, 236, 231);
}

h1, h2, p, a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

p, a {
    font-weight: 400;  
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(26, 26, 116);
}

header > h2 {
    color: white;
}

header > button {
    display: none;
    width: 50px;
    height: 50px;
    background: #CEF09D;
    border: none;
    cursor: pointer;
    transition-duration: .5s;
    border-radius: 8px;
}

header > button:hover {
    background-color: #d2f8d5;
}

nav {
    position: absolute;
    top: 70px;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
}

nav > ul {
    list-style-type: none;
    text-align: center;
}

nav > ul > li > a {
    display: block;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #F8F8FF;
    background-color: #9FC131;
    transition-duration: .4s;
}

nav > ul > li > a:hover {
    background-color: white;
    color: rgb(12, 12, 12);
}

.mostrar {
    left: 0%;
}

div.template {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background: linear-gradient(to bottom, teal, rgb(2, 126, 126));
}

div.template > h1 {
    padding: 5px 0px;
    color: white;
}

div.template > img {
    border-radius: 10px;
}

main {
    margin: 0px 5px;
}

section {
	max-width: 1000px;
    min-width: 300px;
	margin: 14px auto;
    margin-bottom: 28px;
	padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.259);
	border-radius: 5px;
}

article {
    padding: 10px 0px;
}

article > hr {
    width: 20%; 
    height: 4px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 2px;
}

article > h2 {
    padding: 5px 0px;
    color: #191970;
    font-weight: 600;
}

article > p {
    padding: 5px 0px;
	text-align: justify;
	line-height: 1.6em;
}

picture img {
    display: block;
    margin: 12px auto;
    border-radius: 5px;
}

footer {
    padding: 12px;
    background-color: rgb(26, 26, 116);
}
  
footer > p {
    color: lightyellow;
    text-align: center;
}
